@using Microsoft.AspNetCore.Identity
@using Empire.Models
@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager
@using System.Security.Claims

@{
    if (ViewData.TryGetValue("ParentLayout", out var parentLayout) && parentLayout !=  null)
    {
        Layout = parentLayout.ToString();
    }
    else
    {
        Layout = "/Areas/Identity/Pages/_Layout.cshtml";
    }

    ApplicationUser CurrentUser = null;

    if (SignInManager.IsSignedIn(User))
    {
        var userId = User.FindFirstValue(ClaimTypes.NameIdentifier);
        CurrentUser = UserManager.FindByIdAsync(userId).Result;
    }
}

<h1>Manage account for @CurrentUser.FullName</h1>


<div>
    <hr />
    <div class="row">
        <div class="col-md-3">
            <partial name="_ManageNav" />
        </div>
        <div class="col-md-9">
            @RenderBody()
        </div>
    </div>
</div>

@section Scripts {
    @RenderSection("Scripts", required: false)
}
