@page "/AddRole"
@using Empire.Data
@using Empire.Models
@using Empire.Service
@using Microsoft.EntityFrameworkCore
@inject ApplicationDbContext context
@inject RoleService roleService
@inject NavigationManager NavigationManager

<div class="row">
    <div class="col-md-6">
        <form>
            <div class="form-group">
                <label for="Name" class="control-label">Role Name</label>
                <input id="Name" class="form-control" @bind="newRole.Name" />
            </div>
            <hr/>
            <div class="form-group">
                <input type="button" class="btn btn-primary" @onclick="CreateRole" value="Create" />
            </div>
        </form>
        @if (!string.IsNullOrEmpty(message))
        {
            <div class="alert alert-info mt-3">
                @message
            </div>
        }
    </div>
</div>

@code {
    private Role newRole = new Role();
    private string message = "";
    private async Task CreateRole()
    {
        bool isSuccess = await roleService.CreateRoleAsync(newRole);
        if (isSuccess)
        {
            message = "Role created successfully!";
            newRole = new Role();
        }
        else
        {
            message = "Error creating the role!";
        }
    }
    private void Cancel()
    {
        NavigationManager.NavigateTo("/roles");
    }
}
