@page "/AddTask"
@using Empire.Data
@using Empire.Models
@using Empire.Service
@using Microsoft.EntityFrameworkCore
@inject ApplicationDbContext context
@inject MSRService taskService
@inject NavigationManager NavigationManager

<h3>Add New Task</h3>
<hr/>
<div class="row">
    <div class="col-md-6">
        <form>
            <div class="form-group">
                <label for="Title" class="control-label">Task Title</label>
                <input id="Title" class="form-control" @bind="newTask.MSRtitle" />
            </div>
            <div class="form-group">
                <label for="Date" class="control-label">Date Added</label>
                <input id="Date" class="form-control" @bind="newTask.DateAdded" />
            </div>
            <div class="form-group">
                <label for="Note" class="control-label">Description</label>
                <InputTextArea id="Note" class="form-control" @bind="newTask.MSRNote" />
            </div>
            <hr />
            <div class="form-group">
                <input type="button" class="btn btn-primary" @onclick="CreateTask" value="Create" />
            </div>
        </form>
        @if (!string.IsNullOrEmpty(message))
        {
            <div class="alert alert-info mt-3">
                @message
            </div>
        }
    </div>
</div>
@code {
    private MSRTask newTask = new MSRTask();
    private string message = "";
    private async Task CreateTask()
    {
        bool isSuccess = await taskService.CreateMSRAsync(newTask);
        if (isSuccess)
        {
            message = "Task created successfully!";
            newTask = new MSRTask();
        }
        else
        {
            message = "Error creating the task!";
        }
    }
    private void Cancel()
    {
        NavigationManager.NavigateTo("/tasks");
    }
}
