@inherits LayoutComponentBase
@using Empire.Shared;

<PageTitle>Empire</PageTitle>

<div class="sidebar">
    <NavMenu />
    <LoginDisplay />
</div>
<div class="page">

    <main>


        <article class="content px-4">
            @Body
        </article>
    </main>
</div>
