@page "/deleteapp/{AppId:int}"
@using Empire.Data
@using Empire.Models
@using Empire.Service
@using Microsoft.EntityFrameworkCore
@using Microsoft.AspNetCore.Components.Forms
@inject AppService appService
@inject NavigationManager navi

<h3>Delete App</h3>

<hr />

@if (app == null)
{
    <p>Loading...</p>
}
else
{
    <div>
        <p>Are you sure you want to delete the application: @app.AppName?</p>

        <button @onclick="HandleDelete" class="btn btn-danger">Delete</button>
        <button @onclick="NavigateBack" class="btn btn-secondary">Cancel</button>
    </div>
}

@code {
    [Parameter]
    public int AppId { get; set; }

    private AppList app;

    protected override async Task OnInitializedAsync()
    {
        app = await appService.GetAppByIdAsync(AppId);
    }

    private async Task HandleDelete()
    {
        if (await appService.DeleteAppAsync(AppId))
        {
            navi.NavigateTo("/apps");
        }
        else
        {
            navi.NavigateTo("/apps");
        }
    }

    private void NavigateBack()
    {
        navi.NavigateTo("/apps");
    }
}