@page "/About"
@attribute [AllowAnonymous]

<h2 class="mb-4">About</h2>

<hr class="my-5">
<div class="row">
    <div class="col-md-12">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title">Welcome to our Management System!</h4>
                <p class="card-text">
<<<<<<< HEAD
                    The management system is a web application that allows you to manage your business. You can manage
                    your employees and tickets.
                </p>
                <p class="card-text">
                    More features will be added in the future.
                </p>
                <hr />
                <center>
                    <p class="card-text">
                        Please email <a href="mailto:grant@gwsapp.net">grant@gwsapp.net</a> for any questions.
                    </p>
                </center>
=======
                    Please email <a href="mailto:grant@gwsapp.net">grant@gwsapp.net</a> for any questions.
                </p>
>>>>>>> 816666bd8a9a1c5616a8e5b1dc8e0a577b5e6083
            </div>
        </div>
    </div>
</div>

@code {

}
