@page "/About"
@attribute [AllowAnonymous]

<h2 class="mb-4">About</h2>

<hr class="my-5">
<div class="row">
    <div class="col-md-6">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title">Welcome to our IT Support Ticket Management System!</h4>
                <p class="card-text">
                    This application is designed to help you efficiently manage your IT support requests.
                </p>
            </div>
        </div>
    </div>

    <div class="col-md-6">
        <div class="card ">
            <h4 class="mx-2 mt-2">Features:</h4>
            <div class="card-body">
                <ul class="list-group">
                    <li class="list-group-item">Create and submit IT support tickets.</li>
                    <li class="list-group-item">Track the status and progress of your submitted tickets.</li>
                    <li class="list-group-item">View ticket details, including title, severity, due date, and more.</li>
                    <li class="list-group-item">Contact the ticket administrator for assistance.</li>
                </ul>
            </div>
        </div>
    </div>
</div>

<hr class="my-5">

<div class="mt-4 text-muted">
    <h4>How to Use:</h4>
    <p>
        To get started, simply navigate to the "Create" page to submit a new support ticket. Fill in the required details, including the title, description, severity, and contact information. Once submitted, you can track the status of your ticket on the "Home" page.
    </p>
</div>

<hr class="my-5">

<p class="mt-4">
    Lorem ispum sudo lomen dolores mat it pumti lemuno lores
</p>

@code {

}