@page "/"

<PageTitle>Home</PageTitle>


<center>
    <h1>General Kenobi!</h1>

    Welcome to your new app called Empire. This is a learning module application for Grant Watson. I am using Blazor, .NET 6 and SQL Manager for local db storage. I am trying to learn as much as possible for newer interations of .NET
</center>
