@page "/"

<PageTitle>Home</PageTitle>


<center>
    <h1>General Kenobi!</h1>

    Welcome to your new app called Empire. This is a learning module application for Grant Watson. I am using Blazor, .NET 6 and SQL Manager for local db storage. I am trying to learn as much as possible for newer interations of .NET
</center>
<hr />
<center>
    <div class="col-md-8">
        <div class="card ">
            <h4 class="mx-2 mt-2">Ticket Features:</h4>
            <div class="card-body">
                <ul class="list-group">
                    <li class="list-group-item">Create and submit IT support tickets.</li>
                    <li class="list-group-item">Track the status and progress of your submitted tickets.</li>
                    <li class="list-group-item">View ticket details, including title, severity, due date, and more.</li>
                    <li class="list-group-item">Contact the ticket administrator for assistance.</li>
                </ul>
                <hr />
                <h4 class="mx-2 mt-2">Users/Roles Features:</h4>
                <ul class="list-group">
                    <li class="list-group-item">Create new Users.</li>
                    <li class="list-group-item">Create new Roles</li>
                    <li class="list-group-item">Edit basic user information</li>
                    <li class="list-group-item">Assign roles to users</li>
                </ul>
            </div>
        </div>
    </div>
</center>
